@model Lab_20.Models.Item

<style>
    label {
        width: 150px;
        display: inline-block;
        text-align: left;
        vertical-align: bottom;
        font-family: Verdana;
    }

    labelTwo {
        width: 211px;
        display: inline-block;
        text-align: left;
        vertical-align: bottom;
        font-family: Verdana;
    }

    body {
        background-color: darkorange;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ItemDetails</title>
</head>
<body>
    <center>
        <font size="4" color="white" font face="verdana">Item Details</font>
        <br />
        <br />
        <br />
        <br />
        <form name="input" action="/Home/SaveItemUpdate" method="post">

            <label>Name: </label><input type="Text" name="Name" id="Name" value="@Model.Name" /><br />
            <br />
            <label>Description: </label><input type="Text" name="Description" id="Description" value="@Model.Description" /><br />
            <br />
            <label>Quantity: </label><input type="Text" name="Quantity" id="Quantity" value="@Model.Quantity" /><br />
            <br />
            <label>Price: </label><input type="Text" name="Price" id="Price" value="@Model.Price" /><br />
            <br />
            <br />
            <input type="submit" value="Submit">
</form>
    </center>
</body>
</html>


